<!DOCTYPE html>

<html>
	<head>
		<title>InfiniLang</title>

		<meta charset="UTF-8" />
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
		<meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>

		<link rel="stylesheet" href="../styles/inconsolata.css"/>
		<link rel="stylesheet" href="../styles/noto-sans.css"/>
		<link rel="stylesheet" href="../styles/noto-sans-jp.css"/>
		<link rel="stylesheet" href="../styles/styles.css"/>
	</head>

	<body>
		<p class="english light-text large-text">Whereas recognition of the inherent dignity</p>
		<p class="japanese light-text large-text">ありがとうございます</p>
	</body>

	<script src="../renderer.js"></script>
</html>