<!DOCTYPE html>

<html>
	<head>
		<title>Simple Torrent</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Remove unsafe-inline for distribution -->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline'; script-src 'self'">
		<meta http-equiv="X-Content-Security-Policy" content="default-src 'self' 'unsafe-inline'; script-src 'self'">

		<link rel="stylesheet" href="../styles/bootstrap.min.css">

		<link rel="stylesheet" href="../styles/inconsolata.css">
		<link rel="stylesheet" href="../styles/noto-sans.css">
		<link rel="stylesheet" href="../styles/noto-sans-jp.css">
		<link rel="stylesheet" href="../styles/red-hat.css">

		<link rel="stylesheet" href="../styles/styles.css">
		<link rel="stylesheet" href="../styles/development.css">
	</head>

	<body>
		<main></main>
	</body>

	<script src="../scripts/static/bootstrap.bundle.min.js"></script>
	<script src="../scripts/Basic.js"></script>
	<script src="../scripts/MainMenu.js"></script>
	<script src="../renderer.js"></script>
</html>