<div class="container-fluid h-100">
	<div class="row d-flex align-items-center h-100">
		<div class="col-12">
			<div class="row justify-content-center">
				<div class="col-auto">
					<div class="logo-main">Infinilang</div>
					<div class="logo-sub" style="margin-top: -12px">Infinite language learning</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-6">
					<div class="separator my-4"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center" id="menu-question">
					<div class="lead mb-3">What is your first language?</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 d-flex justify-content-center" id="menu-options">
					<div class="option text-center mx-2">
						<flag class="vietnam md d-block"></flag>
						<div class="vietnamese">tiếng Việt</div>
					</div>
					<div class="option text-center mx-2">
						<flag class="britain md d-block"></flag>
						<div class="english">English</div>
					</div>
					<div class="option text-center mx-2">
						<flag class="japan md d-block"></flag>
						<div class="japanese">日本語</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>