<div class="container-fluid h-100">
	<div class="row d-flex align-items-center h-100">
		<div class="col-12">
			<div class="row justify-content-center">
				<div class="col-auto">
					<div class="logo-main">Infinilang</div>
					<div class="logo-sub" style="margin-top: -12px">Infinite language learning</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-6">
					<div class="separator my-4"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="lead">What is your first language?</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-3">
					<h1 class="display-4"></h1>
				</div>
			</div>
		</div>
	</div>
</div>