flag {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
}
flag.britain {
  background-image: url("../images/country_flags/gb.svg");
}
flag.britain.xs {
  width: 6vw;
  height: 3vw;
  border-radius: 4px;
}
flag.britain.sm {
  width: 12vw;
  height: 6vw;
  border-radius: 6px;
}
flag.britain.md {
  width: 18vw;
  height: 9vw;
  border-radius: 8px;
}
flag.britain.lg {
  width: 24vw;
  height: 12vw;
  border-radius: 10px;
}
flag.britain.xl {
  width: 30vw;
  height: 15vw;
  border-radius: 12px;
}
flag.britain2 {
  background-image: url("../images/country_flags/gb-3-5.svg");
}
flag.britain2.xs {
  width: 5vw;
  height: 3vw;
  border-radius: 4px;
}
flag.britain2.sm {
  width: 10vw;
  height: 6vw;
  border-radius: 6px;
}
flag.britain2.md {
  width: 15vw;
  height: 9vw;
  border-radius: 8px;
}
flag.britain2.lg {
  width: 20vw;
  height: 12vw;
  border-radius: 10px;
}
flag.britain2.xl {
  width: 25vw;
  height: 15vw;
  border-radius: 12px;
}
flag.japan {
  background-image: url("../images/country_flags/jp.svg");
}
flag.japan.xs {
  width: 4.5vw;
  height: 3vw;
  border-radius: 4px;
}
flag.japan.sm {
  width: 9vw;
  height: 6vw;
  border-radius: 6px;
}
flag.japan.md {
  width: 13.5vw;
  height: 9vw;
  border-radius: 8px;
}
flag.japan.lg {
  width: 18vw;
  height: 12vw;
  border-radius: 10px;
}
flag.japan.xl {
  width: 22.5vw;
  height: 15vw;
  border-radius: 12px;
}
flag.australia {
  background-image: url("../images/country_flags/au.svg");
}
flag.australia.xs {
  width: 6vw;
  height: 3vw;
  border-radius: 4px;
}
flag.australia.sm {
  width: 12vw;
  height: 6vw;
  border-radius: 6px;
}
flag.australia.md {
  width: 18vw;
  height: 9vw;
  border-radius: 8px;
}
flag.australia.lg {
  width: 24vw;
  height: 12vw;
  border-radius: 10px;
}
flag.australia.xl {
  width: 30vw;
  height: 15vw;
  border-radius: 12px;
}
flag.vietnam {
  background-image: url("../images/country_flags/vn.svg");
}
flag.vietnam.xs {
  width: 4.5vw;
  height: 3vw;
  border-radius: 4px;
}
flag.vietnam.sm {
  width: 9vw;
  height: 6vw;
  border-radius: 6px;
}
flag.vietnam.md {
  width: 13.5vw;
  height: 9vw;
  border-radius: 8px;
}
flag.vietnam.lg {
  width: 18vw;
  height: 12vw;
  border-radius: 10px;
}
flag.vietnam.xl {
  width: 22.5vw;
  height: 15vw;
  border-radius: 12px;
}
flag.us {
  background-image: url("../images/country_flags/us.svg");
}
flag.us.xs {
  width: 5.7vw;
  height: 3vw;
  border-radius: 4px;
}
flag.us.sm {
  width: 11.4vw;
  height: 6vw;
  border-radius: 6px;
}
flag.us.md {
  width: 17.1vw;
  height: 9vw;
  border-radius: 8px;
}
flag.us.lg {
  width: 22.8vw;
  height: 12vw;
  border-radius: 10px;
}
flag.us.xl {
  width: 28.5vw;
  height: 15vw;
  border-radius: 12px;
}
flag.np {
  background-image: url("../images/country_flags/np.svg");
}
flag.np.xs {
  width: 2.25vw;
  height: 3vw;
  border-radius: 4px;
}
flag.np.sm {
  width: 4.5vw;
  height: 6vw;
  border-radius: 6px;
}
flag.np.md {
  width: 6.75vw;
  height: 9vw;
  border-radius: 8px;
}
flag.np.lg {
  width: 9vw;
  height: 12vw;
  border-radius: 10px;
}
flag.np.xl {
  width: 11.25vw;
  height: 15vw;
  border-radius: 12px;
}

.flag-restrictor {
  overflow-x: hidden;
}
.flag-restrictor.xs {
  width: 4.5vw;
  border-radius: 4px;
}
.flag-restrictor.sm {
  width: 9vw;
  border-radius: 6px;
}
.flag-restrictor.md {
  width: 13.5vw;
  border-radius: 8px;
}
.flag-restrictor.lg {
  width: 18vw;
  border-radius: 10px;
}
.flag-restrictor.xl {
  width: 22.5vw;
  border-radius: 12px;
}

.flag-restrictor flag {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=flags.css.map */
